p{
    color: red;
}
.text{
    color: aqua;
}
.fon{
    font-size: 25px;
    font-weight: bold
}
#bg{
    background-color: black;
    text-align: center;
}
#ba
{
    background-color: black;
    text-align: center;
}